---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import { take } from "rambda";
const blogArticles = await getCollection("articles");
const lastTwoArticles = take(2, blogArticles);
---

<section class="g-fade container flex flex-col gap-8 py-32 pt-0">
    <div class="flex flex-col lg:flex-row justify-between">
        <h2 class="text-5xl lg:text-8xl font-[500] max-w-[600px]">
            Our latest <span class="text-accent">articles</span>
        </h2>
        <a
            href="/blog"
            class="flex gap-2 self-end text-xl items-center font-[500]"
            ><span>See all</span><img src="/arrow-small.svg" /></a
        >
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        {
            lastTwoArticles.map((article) => (
                <a
                    href={`/blog/${article.slug}`}
                    class="card flex-col lg:flex-row card-side bg-secondary"
                >
                    <figure class="aspect-[4/5] w-[10rem]">
                        <img
                            src={`/blog/${article.data.coverFileName}`}
                            alt={article.data.title}
                            class="object-fit h-full"
                        />
                    </figure>
                    <div class="card-body">
                        <p class="text-primary">
                            {dayjs(article.data.publishedAt).format(
                                "DD MMMM YYYY",
                            )}
                        </p>
                        <h2 class="card-title text-3xl font-[500] text-mint">
                            {article.data.title}
                        </h2>
                        <p>{article.data.excerpt}</p>
                    </div>
                </a>
            ))
        }
    </div>
</section>
